[Desktop Entry]
Version=1.0
Name=Convert VideoMEG Video
Comment=Convert video recorded during MEG experiments
Exec=pvm_export_dragdrop.py
Terminal=False
Type=Application
Icon=applications-utilities
Categories=Science;Application;
