[Desktop Entry]
Version=1.0
Name=pvm_export_dragdrop
Comment=Convert video recorded during MEG experiments
Exec=pvm_export_dragdrop.py
Terminal=False
Type=Application
Icon=applications-science
Categories=Science;Application;
